<!DOCTYPE html>
<html>
<head>
    <title>Redireccionando a WebPay...</title>
    <script>
        window.onload = function() {
            setTimeout(function() {
                document.getElementById('webpay-form').submit();
            }, 500);
        };
    </script>
</head>
<body>
    <form id="webpay-form" action="{{ webpay_url }}" method="POST">
    <input type="hidden" name="token_ws" value="{{ token }}">
</form>

<script>
    document.getElementById('webpay-form').submit();
</script>

</body>
</html>