{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Agregar Producto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-4">
    <h1 class="mb-4">Agregar Nuevo Producto</h1>
    
    <form id="formulario-producto" class="mb-4">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Nombre:</label>
            <input type="text" name="nombre" class="form-control" required>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Descripción:</label>
            <textarea name="descripcion" class="form-control" rows="3"></textarea>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Precio:</label>
            <input type="number" name="precio" class="form-control" step="0.01" min="0" required>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Stock:</label>
            <input type="number" name="stock" class="form-control" min="0" required>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Categoría:</label>
            <input type="text" name="categoria" class="form-control" required>
        </div>
        <div id="mensaje" class="alert d-none"></div>
        
        
        <button type="submit" class="btn btn-primary">Guardar Producto</button>
    </form>
    
    
    
    <a href="{% url 'listar_productos' %}" class="btn btn-secondary">Volver a la lista</a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'productos/productos.js' %}"></script>
</body>
</html>